@import "reset";
@import "themes/dark";
@import "themes/normal";
@import "themes/orange";
@import "variables/global";

body {
  font: var(--font-m);
  color: var(--primary-color);
}

.app {
  font: var(--font-m);
  background: var(--bg-color);
  color: var(--primary-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.content-page {
  display: flex;
  min-height: 50vh;
}

.page-wrapper {
  flex-grow: 1;
  padding: 20px;
}
