.Todo {
border:1px solid grey;
padding: 10px;
border-radius: 5px;
width: 100%;
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
  
    .info{
        display: flex;
        
        p{
            text-align: center;
            font-weight: 700;
            font-size: 20px;
            margin-left: 20px;
        }
    }
   
    .actions{
        display: flex;
     
        .edit{
            color: green;
            rotate: 90deg;
        }
        .delete{
            color: red;
        }
    }
}
}